html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: yellowgreen;
    max-height: 100vh;
}

h1 {
    color: white;
    margin: 0 auto;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

#textInput {
    width: 200px;
    height: 500px;
    max-width: 100vw;
    margin: 0 auto;
    border-radius: 15px;
    border: 3px solid blue;
}

button {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    border-radius: 15px;
    border: 3px solid blue;

}
#lettersDiv{
    margin: 0 auto;
    border-radius: 15px;
    color: black;
    font-size: 14px;
    font-family: monospace;
    border: 2px solid blue;
    max-width: 100vw;

}

#wordsDiv{
    margin: 0 auto;
    border-radius: 15px;
    color: black;
    font-size: 14px;
    font-family: monospace;
    border: 2px solid blue;
    max-width: 100vw;

}

@media (min-width: 700px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: blue
    }
    
    h1 {
        color: white;
        margin: 0 auto;
        font-family: monospace;
        font-size: 70px;
    }
    
    #textInput {
        width: 900px;
        height: 600px;
        margin: 0 auto;
        border-radius: 20px;
        border: 3px solid green;
        background-color: black;
        color: white;
        font-size: 15px;
        font-family: monospace;

    }
    
    button {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        border-radius: 20px;
        border: 3px solid green;
        background-color: black;
        color: white;
        font-size: 20px;
        font-family: monospace;
    
    }
    #lettersDiv{
        margin: 0 auto;
        border-radius: 20px;
        color: white;
        font-size: 14px;
        font-family: monospace;
        border: 2px solid green;
        background-color: black;
        max-width: 100vw;
        font-size: 20px;
        font-family: monospace;
    
    }
    
    #wordsDiv{
        margin: 0 auto;
        border-radius: 20px;
        color: white;
        font-size: 14px;
        font-family: monospace;
        border: 2px solid green;
        background-color: black;
        max-width: 100vw;
        font-size: 20px;
        font-family: monospace;
    
    }

}